#map{
    width: 100vw;
    height: 67vh;
    position: absolute;
    top: 33vh;
    left: 0;
    z-index: 2;
}
#input-box{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, white 87%, black 13%);
    width: 30%;
    padding: 0.7em;
    border-radius: 0.5em;
    cursor: pointer;
    
}
#box-4{
    border-right: 0px;
}
@media (max-width:980px) {
    #input-box{
        width: 60%;
    }
}
@media (max-width:600px) {
    #map{
        height: 64vh;
    }
}
@media (max-width:550px) {
    #input-box{
        width: 80%;
    }
}
@media (max-width:412px) {
    #input-box{
        width: 93%;
    }
}